* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  font-family: Verdana;
}

main {
  margin: 0;
  padding: 0;
}

.navbar {
  display: flex;
  position: sticky;
  color: white;
  padding-top: 5px;
  padding-left: 5%;
  padding-right: 5%;
  padding-bottom: 5px;
  font-weight: bold;
  font-family: Verdana;
}
.navbar-brand {
  font-size: 25px;
  font-weight: bold;
}
.navbar-brand:hover {
  color: rgb(239, 208, 235);
}
.navbar .nav-item, .navbar .nav-link, .navbar .offcanvas-title {
  color: white;
  font-size: 12px;
  font-weight: bold;
}
.navbar .nav-item:hover, .navbar .nav-link:hover, .navbar .offcanvas-title:hover {
  color: rgb(239, 208, 235);
}

.legales {
  color: #191919;
}

.card {
  display: flex;
  align-items: center;
  flex-direction: column;
  box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.2);
  cursor: default;
  background-color: rgba(250, 250, 250, 0.9058823529);
  width: 250px;
}
.card:hover {
  box-shadow: 2px 5px 15px rgba(0, 0, 0, 0.5);
  transition: all 0.5s ease;
  transform: translatey(-2%);
}
.card .btn-primary {
  background-color: blueviolet;
  border-color: blanchedalmond;
}
.card .btn-primary:hover {
  background-color: rgb(244, 51, 115);
}
.card img {
  cursor: pointer;
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
}
.card .card-title {
  font-size: 17px;
  text-transform: uppercase;
  font-family: sans-serif;
  font-weight: bold;
  font-size: 17px;
  font-weight: bolder;
}
.card .card-ciudad-origen, .card .card-precio {
  font-size: 13px;
  font-weight: bolder;
}
.card .card-text {
  font-size: 12px;
}

.contenedor_principal {
  background-color: #EEF1FF;
  display: flex;
  justify-content: center;
  align-items: center;
}
.contenedor_principal img {
  height: 200px;
}

.carrusel img {
  width: 100%;
  height: 70vh;
  -o-object-fit: cover;
     object-fit: cover;
}
.carrusel p {
  font-family: Verdana;
  color: #fff;
  border-radius: 6px;
  font-size: 25px;
  font-weight: bold;
  background-color: blueviolet;
}

.titulo_principal {
  background-color: rgba(255, 231, 255, 0.9764705882);
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  margin: 10;
  color: black;
  height: 21vh;
}
.titulo_principal h1 {
  font-family: Verdana;
  font-size: 25px;
  font-weight: bold;
}
.titulo_principal p {
  font-size: 20px;
  font-style: oblique;
  font-family: sans-serif;
  font-weight: lighter;
}

.sub_titulo_pagina_principal {
  display: flex;
  justify-content: center;
  align-items: center;
}
.sub_titulo_pagina_principal p {
  background-color: rgb(226, 208, 244);
  border-radius: 5px;
  padding: 10px;
  margin: 25px;
  font-weight: bold;
}

.container_newsletter {
  background: url(../assets/bg-newsletter.jpg) no-repeat center;
  background-size: cover;
  background-position: left;
  display: flex;
  justify-content: center;
  align-items: center;
}
.container_newsletter p {
  font-size: 13px;
  font-weight: bold;
}

.form_newsletter {
  width: 100%;
  padding: 30px;
  display: flex;
  align-items: flex-end;
  flex-direction: column;
  text-align: center;
}
.form_newsletter .boton_news {
  background-color: blueviolet;
  color: #fff;
  border-radius: 9px;
  padding: 8px;
  margin: 10px;
}
.form_newsletter .boton_news:hover {
  background-color: rgb(251, 90, 93);
  transition: all 0.5s ease;
}

input {
  border-radius: 5px;
  padding: 2px;
  text-align: center;
}

.container_newsletter_centro {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.container_newsletter_centro h3 {
  text-transform: uppercase;
  font-size: 20px;
  font-weight: bold;
}
.container_newsletter_centro p {
  text-transform: uppercase;
  font-size: 10px;
  color: rgb(63, 60, 60);
}

.contenedor_tarjetas {
  display: flex;
  justify-content: center;
  padding: 5px;
}

.titulo_about_us {
  display: flex;
  justify-content: center;
  margin: 20px;
  text-transform: uppercase;
}

.Container_about_us {
  display: flex;
  justify-content: center;
  max-width: 1200px;
  align-items: center;
}

.texto_about_us {
  display: flex;
  text-align: justify;
  margin: 20px;
  font-size: 15px;
  min-width: 100px;
}

.img_historia {
  width: 250px;
  height: 250px;
  margin: 20px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 8px;
}

.contenedor_principal_hospedaje {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.imagen_hotel {
  width: 90%;
  height: 300px;
  padding: 10px;
  border-radius: 20px;
  -o-object-fit: cover;
     object-fit: cover;
}

.info_hotel {
  text-align: justify;
  justify-content: center;
  align-items: center;
  padding: 10px;
}
.info_hotel h3 {
  text-align: center;
}
.info_hotel .descripcion_hotel {
  width: 100%;
  padding: 10px;
}
.info_hotel .bonton_hospedaje {
  display: flex;
  width: 100%;
  justify-content: center;
  background-color: blueviolet;
  color: white;
  border-color: blanchedalmond;
}
.info_hotel .bonton_hospedaje:hover {
  background-color: rgb(244, 51, 115);
}

.contenedor_recomendaciones {
  display: flex;
  justify-content: center;
  margin: 10px 0px 10px;
}

.recomendaciones {
  flex-direction: column;
  width: 250px;
  margin: 10px;
  padding: 20px;
  background-color: white;
  border: 1px solid rgb(149, 148, 148);
  border-radius: 8px;
  box-shadow: 0.5px 0.5px 4px rgb(222, 165, 213);
}
.recomendaciones h3 {
  font-size: 15px;
}
.recomendaciones p {
  font-size: 10px;
  color: rgb(69, 69, 69);
}

.contenedor_main {
  display: flex;
  justify-content: center;
  flex-direction: column;
  background-color: rgb(255, 252, 253);
}

.container_titulo {
  color: #191919;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 40px;
}

.container {
  margin: 10px;
}

.titulo_principal_contacto {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.titulo_contacto p {
  text-align: center;
}

form label {
  font-weight: bold;
  display: flex;
  justify-content: center;
  text-align: center;
  padding: 5px;
  margin: 5px;
}

.boton {
  background-color: blueviolet;
  border-color: blanchedalmond;
  color: #fff;
}
.boton:hover {
  background-color: rgb(244, 51, 115);
}

.container_boton {
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
}

.mapa {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.titulo_mapa {
  text-align: center;
  font-family: Verdana;
  font-size: 20px;
  padding: 20px;
  display: flex;
  justify-content: center;
}
.titulo_mapa p {
  text-transform: uppercase;
  font-size: 25px;
}/*# sourceMappingURL=style.css.map */