.container_titulo {
    background-color: black;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;

}

.titulo_principal_contacto {
    display: flex;
    justify-content: center;
    

}

.titulo_contacto {
    background-color: #191919;

}

.boton {
    background-color: $main-color;
    border-color: blanchedalmond;
    color: #fff;
    &:hover {
        background-color: rgb(244, 51, 115);
    }

}

.container_boton {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
}

.mapa {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    
}

.titulo_mapa {
    text-align: center;
        font-family: $main-font;
        font-size: 20px;
        padding: 20px;
        display: flex;
        justify-content: center;
        
        p {
        
            text-transform: uppercase;
            font-size: 25px;
    }
}