.card {
    display: flex;
    align-items: center;
    flex-direction: column;
    box-shadow: 0px 1px 10px rgba(0,0,0,0.2);
    cursor: default;
    background-color: #fafafae7;
    width: 250px;

    &:hover {
        box-shadow: 02px 5px 15px rgba(0,0,0,0.5);
        transition: all 0.5s ease;
        transform: translatey(-2%);
    }

    .btn-primary {
        background-color: $main-color;
        border-color: blanchedalmond;
        &:hover {
            background-color: rgb(244, 51, 115);
        }
    
    }


    img {
        @include imagen (pointer,cover);
        width: 100%;
    }

    .card-title {
        @include ciudad-destino;
        font-size: 17px;
        font-weight: bolder;

    }

    
    .card-ciudad-origen {
        font-size: 13px;
        font-weight: bolder;
        
    }
    .card-precio {
        @extend .card-ciudad-origen 
        
        
    }
    .card-text {
        font-size: 12px;
    }


}



.contenedor_principal {
    background-color: #EEF1FF;
    display: flex;
    justify-content: center;
   
    
    img {
        height: 200px;
    }

}

.carrusel {

    img {
        width: 100%;
        height: 70vh;
        object-fit: cover;



    }

    p {
        font-family: $main-font;
        color: #fff;
        border-radius: 6px; 
        font-size: 25px;
        font-weight: bold;
        background-color: $main-color;

    }


}    
.titulo_principal {
    background-color: #ffe7fff9;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    margin: 10;
    color:black;
    height: 21vh;
    

    

    h1 {
        font-family: $main-font; 
        font-size: 25px;
        font-weight: bold;

       
    }

    p {
        font-size: 20px;
        font-style: oblique;
        font-family: sans-serif;
        font-weight: lighter;
        
        


    }
}

.sub_titulo_pagina_principal {
    display: flex;
    justify-content: center;
    align-items: center;
    

    p {
        background-color: rgb(226, 208, 244);
        border-radius: 5px;
        padding: 10px;
        margin: 25px;
        font-weight: bold;

    }

}

.container_newsletter {
  
     background: url(../assets/bg-newsletter.jpg)  no-repeat center;
     background-size: cover;
     background-position: left;
     display: flex;
     justify-content: center;
     align-items: center;
     
     p {
        font-size: 13px;
        font-weight: bold;
     }
}



.form_newsletter {
    width: 100%;
    padding: 30px;
    display: flex;
    align-items: flex-end;
    flex-direction: column;
    text-align: center;
    
    .boton_news {
        background-color:$main-color;
        color: #fff;
        border-radius: 9px;
        padding: 8px;
        margin: 10px;
        
        &:hover {
            background-color: rgb(251, 90, 93);
            transition: all 0.5s ease;
    
        }    
    
    }

}
input {
    border-radius: 5px;
    padding: 2px;
    text-align: center;
    
}

.container_newsletter_centro {
    display: flex;
    align-items: center;
    flex-direction: column;

    h3 {
        text-transform: uppercase;
        font-size: 20px;
        font-weight: bold;
    }
    p {
        text-transform: uppercase;
        font-size: 10px;
        color: rgb(63, 60, 60);
    }

}

.contenedor_tarjetas { 
    display: flex;
    justify-content: center;
    padding: 5px;

}

