.titulo_about_us {
    display: flex;
    justify-content: center;
    padding: 20px;
    text-transform: uppercase;
    
}


.Container_about_us {
    display: flex;
    justify-content: center;
    max-width: 1200px;
    align-items: center;


    .texto_about_us {
        display: flex;
        text-align: justify;
        margin: 20px;
        font-size: 15px;
        min-width: 100px;
    }
    
    
    .img_historia {
        
        width: 250px;
        height: 250px;
        margin: 20px;
        object-fit: cover;
        border-radius: 8px;
        background-color: $fondo;
    
    }


}

