.titulo_principal h2 {
    font-family: $main-font; 
    font-size: 40px;
    font-weight: bold;



 }


.contenedor_principal {
    display: flex;
    justify-content: center;
    align-items: center;
    
    .contenedor_tarjetas { 
        display: flex;
        justify-content: center;
        padding: 5px;
    
    }
    
}



