.contenedor_principal {
    background-color: #EEF1FF;
    display: flex;
    justify-content: center;
    align-items: center;
    
    
}

.contenedor_tarjetas { 
    display: flex;
    justify-content: center;
    padding: 5px;

}
